<header>
    <div class="logo">
        <a href="Gourmet Foods.html"><img src="images/logo.png" alt="Gourmet Foods Logo"></a>
    </div>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#app-features">Features</a></li>
            <li><a href="#how_it_works">How It Works</a></li>
        </ul>
    </nav>
    <div class="header-buttons">
        <a href="/login" class="btn-order"> Login</a>
        <a href="#" class="btn-download"><i class="fa-solid fa-cloud-arrow-down"></i> Download App</a>
        <a href="tel:042-111-111-678" class="btn-call"><i class="fa-solid fa-phone-volume"></i> 042-111-111-678</a>
    </div>
</header>